# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

scala/*/dist/*
scala/*/target/*
scala/*/lib_managed/
scala/*/src_managed/
scala/*/project/boot/
scala/*/project/target/*
scala/*/project/target/streams/*
scala/*/project/plugins/project/
scala/*/.history
scala/*/.cache
scala/*/.lib/

# custom
*.o
*.so
*.out
*.class
*.cache
c_shizzle/parallel/sync_lu/0.txt
c_shizzle/parallel/sync_lu/1.txt
c_shizzle/parallel/sync_lu/2.txt
c_shizzle/parallel/sync_lu/3.txt

